<form method="POST" action="/create">

  <input type="hidden" name="id" value="{{id}}"/>
  <label>Username<input type="text" name="username" value="{{username}}"/></label><br/>
  <label>Age<input type="text" name="age" value="{{age}}"/></label><br/>
  <label>Bio<input type="text" name="bio" value="{{bio}}"/></label><br/>
  <label>profilePic<input type="text" name="profile_pic" value="{{profile_pic}}"/></label><br/>


  <label>balloons<input type='checkbox' name='balloons' value="false"></label>
  <label>paws<input type='checkbox' name='paws' value="false"></label>
  <label>humans<input type='checkbox' name='humans' value="false"></label>
  <label>voyeurism<input type='checkbox' name='voyeurism' value="false"></label>
  <label>bdsm<input type='checkbox' name='bdsm' value="false"></label>
  <label>cuddles<input type='checkbox' name='cuddles' value="false"></label>
  <label>EMOTION by Carly Rae Jepsen<input type='checkbox' name='ebcrj' value="false"></label>
  <label>exhibitionism<input type='checkbox' name='exhibitionism' value="false"></label>

<input type="submit" />
</form>